# Database configuration
NB_DB_HOST=localhost
NB_DB_PORT=5432
NB_DB_NAME=neurobagel
NB_DB_USER=nbuser
NB_DB_PASSWORD=nbpassword

# API configuration
NB_API_ALLOWED_ORIGINS="http://localhost:3000"
NB_RETURN_AGG=true
NB_MIN_CELL_SIZE=0
NB_ENABLE_AUTH=false

# Neurobagel configuration
NB_CONFIG=Neurobagel
NB_DATASETS_METADATA_PATH=/data/datasets_metadata.json
