ci:
  autofix_prs: false
  skip: [docker-compose-check]

repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
        args:
          - --line-length=79
          - --safe

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        language_version: python3
        args:
          # See https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#e203
          - --extend-ignore=E501,E203
          - --extend-select=B950
          - --per-file-ignores=./app/api/models.py:F722

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: pretty-format-json
        args: 
          - "--autofix"
          - "--no-sort-keys"

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args:
          - "--profile=black"
          - "--filter-files"
          - "--line-length=79"

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/iamthefij/docker-pre-commit
    rev: v3.0.1
    hooks:
      - id: docker-compose-check
